@model IEnumerable<SportEventsAdminApplication.Models.Domain.Registration>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="py-4" style="color: #17a2b8; ">All registrations</h1>

<table class="table py-4">
    <thead style="background-color: #17a2b8;">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Participant)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-light">
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Event.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Participant.Email)
            </td>
            <td>
                <a class="btn btn-outline-light" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                @if (@item.Status.ToString() == "Pending")
                {
                    <a class="btn btn-outline-light" asp-action="ApproveRegistration" asp-route-id="@item.Id">Approve</a>
                    <a class="btn btn-outline-light" asp-action="RejectRegistration" asp-route-id="@item.Id">Reject</a>
                }
                else
                {
                <span class="text-muted">@item.Status.ToString()</span>
                }
            </td>
        </tr>
}
    </tbody>
</table>
